.intro {
    height: 100vh;
    padding-top: 100px;
}

.card {
    color: rgb(202, 194, 194);
    background-color: rgb(17, 15, 24);
    position: absolute;
    left: 10vw;
    width: 40vw;
    height: 60vh;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    padding: 25px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg);
}

.card:hover {
    transform: perspective(700px) rotateY(4deg) rotateX(-2deg);
}

.card .about {
    padding-top: 50px;
    height: 100%;
    font-size: large;
    width: 100%;
}

.card .sources {
    bottom: 0;
    display: flex;
}

.card .projectsBtn {
    margin: 25px;
    font-size: 35px;
    transition: color .5s ease-in-out;
}

.card .projectsBtn:hover {
    cursor: pointer;
    color: rgb(88, 85, 85);
}

.card .sources {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .sources .platform {
    background-color: rgb(38, 34, 51);
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(155, 155, 161);
    font-weight: bold;
}

.card .sources .platform img {
    margin-right: 15px;
    height: 40px;
    width: 40px;
}

.card .sources .platform #ytLogo {
    width: 60px;
}

.card .sources a {
    text-decoration: none;
}