.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .projectPreview {
    background-color: rgb(17, 15, 24);
    display: flex;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    flex-direction: column;
    padding: 1%;
    position: absolute;
}

.projects .preview {
    background-color: rgb(17, 15, 24);
    height: 300px;
    width: 300px;
    border-radius: 15px;
}